body {
  margin: 0;
}
.header {
  border: 1px solid black;
  width: 100%;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ashion-logo {
  padding: 26px;
  width: 121px;
  height: 48px;
}
.footer-menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}
.header-right {
  display: flex;
  color: gray;
}
.header-right-widgets {
  display: flex;
  gap: 20px;
}
